<div class="jumbotron text-center mt-2 bg-light">
    <h1>Weekly Bug tracker/notes</h1>
    <p>This is a simple to help keep track of bug, note, etc...</p>
    <a href="/login" class="btn btn-primary">Login</button>
</div>